extends layoutMain

block content

    div
    h3(class="header center teal-text") #{departureFrom}
    div.center-align
        i(class="material-icons") arrow_forward 
    h3(class="header center teal-text") #{arrivalTo}
    h5(class="header center teal-text") #{dateTravelUser}
    br
    div.container
        table(class="highlight.responsive-table", id="tableReservations")
            tr
                thead
                    th Departure From
                    th Arrival To
                    th Time Departure
                    th Time Arrival
                    th Places available
            tbody
            each x, index in arrayTimeDeparture
                tr
                    td #{departureFrom}
                    td #{arrivalTo}
                    td #{arrayTimeDeparture[index].timeDeparture.split(" ")[1]}
                    td #{arrayTimeArrival[index].split(" ")[1]}
                    if(arrayTimeDeparture[index].placesAvailable < nbBike)
                        td(class="tooltip", style="color: red") #{arrayTimeDeparture[index].placesAvailable}
                            span.tooltiptext Request needs confirmation
                    else
                        td #{arrayTimeDeparture[index].placesAvailable}
                        //- Adding a method just to be able to retrieve the time departure
                    td
                        button(class="btn waves-effect waves-light" type="button" onclick=`confirmReservation(${JSON.stringify(arrayTimeDeparture[index].timeDeparture)},${JSON.stringify(arrayTimeDeparture[index].placesAvailable)}, ${JSON.stringify(trips)})`) Reservation
                            i(class="material-icons right") book
        br
        button(class="btn waves-effect waves-light" type="button" id="goBack" name="goBack") Go Back
    //- Modal for the modification of a user
    div(id="modal1" class="modal")
        div(class="modal-content")
            h4= "Details Reservation"
            div.container
            form(method="post" action="/confirm")
                table(class="responsiv-table")
                    tr
                        thead
                            th Departure From
                            th Arrival To
                            th Date and Time
                            th Number of Bike(s)
                        tbody
                            td(name="departureFrom" id="departureFrom") #{departureFrom}
                            td(name="arrivalTo" id="arrivalTo") #{arrivalTo}
                            td(name="dateDep" id="dateDep") #{arrayTimeDeparture.timeDeparture}
                            td(name="nbBike" id="nbBike") #{nbBike}
                br
                p(style="font-weight:bold;") Enter your email address to confirm reservation :
                input(type="text", autofocus placeholder="Firstname", id="firstname", autocomplete="off", required)
                input(type="text", placeholder="Lastname", id="lastname", autocomplete="off", required)
                input(type="email" placeholder="Email", name="email" id="email" autocomplete="off" required)
                input(type="hidden", value=lines.join(), id="linee")
                input(type="hidden", id="placesAvailable")
                input(type="hidden", id="trips")
        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" id="submitt_confirm") Confirm Reservation
    
    //- Redirecting to index to do another search
    script.
        $('#goBack').click(function() {
            window.location.href = '/';
        });
    
    script(src="javascripts/book/modalConfirm.js", type="text/javascript")
    script(src="javascripts/book/reservation.js", type="text/javascript")