extends layoutMain

block content

    div
    h3(class="header center teal-text") #{departureFrom}
    div.center-align
        i(class="material-icons") arrow_forward 
    h3(class="header center teal-text") #{arrivalTo}
    h5(class="header center teal-text") #{dateTravelUser}
    br
    div.container
        table(class="highlight.responsive-table")
            tr
                thead
                    th Departure From
                    th Arrival To
                    th Time Departure
                    th Time Arrival
            tbody
            each x, index in arrayTimeDeparture
                tr
                    td #{departureFrom}
                    td #{arrivalTo}
                    td #{arrayTimeDeparture[index].split(" ")[1]}
                    td #{arrayTimeArrival[index].split(" ")[1]}
                    td
                        button(class="btn waves-effect waves-light" type="button" onclick=`confirmReservation(${JSON.stringify(arrayTimeDeparture[index])})`) Reservation
                            i(class="material-icons right") book
        br
        button(class="btn waves-effect waves-light" type="button" id="goBack" name="goBack") Go Back
    //- Modal for the modification of a user
    div(id="modal1" class="modal")
        div(class="modal-content")
            h4= "Details Reservation"
            div.container
            form(method="post" action="/confirm")
                table(class="responsiv-table")
                    tr
                        thead
                            th Departure From
                            th Arrival To
                            th Date and Time
                            th Number of Bike(s)
                        tbody
                            td(name="departureFrom" id="departureFrom") #{departureFrom}
                            td(name="arrivalTo" id="arrivalTo") #{arrivalTo}
                            td(name="dateDep" id="dateDep") #{arrayTimeDeparture}
                            td(name="nbBike" id="nbBike") #{nbBike}
                br
                p(style="font-weight:bold;") Enter your email address to confirm reservation :
                input(type="email" placeholder="Email", autofocus, name="email" id="email" autocomplete="off" required)
        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" id="submitt_confirm" onclick="successFullReservation()") Confirm Reservation
    
    //- Redirecting to index to do another search
    script.
        $('#goBack').click(function() {
            window.location.href = 'http://localhost:3000/';
        });
    

    script(src="javascripts/book/reservation.js", type="text/javascript")
    script(src="javascripts/book/modalConfirm.js", type="text/javascript")