extends layoutMain

block content
    div
    h3(class="header center teal-text") #{departureFrom}
    div.center-align
        i(class="material-icons") arrow_forward 
    h3(class="header center teal-text") #{arrivalTo}
    h5(class="header center teal-text") #{arrayTimeDeparture[0].split(" ")[0]}
    br
    div.container
        table.highlight.responsive-table
            tr
                thead
                    th Departure From
                    th Arrival To
                    th Time Departure
                    th Time Arrival
                    th Place(s) available
            tbody
            each x, index in arrayTimeDeparture
                tr
                    td #{departureFrom}
                    td #{arrivalTo}
                    td #{arrayTimeDeparture[index].split(" ")[1]}
                    td #{arrayTimeArrival[index].split(" ")[1]}
                    td PLACES
                    td
                        p Book a fcking place
                            i(class="material-icons") book
                    td
                        i(class="material-icons") arrow_drop_down_circle