extends layoutMain

block content
    div
    h3(class="header center teal-text") #{departureFrom}
    div.center-align
        i(class="material-icons") arrow_forward 
    h3(class="header center teal-text") #{arrivalTo}
    h5(class="header center teal-text") #{dateTravelUser}
    br
    div.container
        table(class="highlight.responsive-table")
            tr
                thead
                    th Departure From
                    th Arrival To
                    th Time Departure
                    th Time Arrival
                    th Place(s) available
            tbody
            each x, index in arrayTimeDeparture
                tr
                    td #{departureFrom}
                    td #{arrivalTo}
                    td #{arrayTimeDeparture[index].split(" ")[1]}
                    td #{arrayTimeArrival[index].split(" ")[1]}
                    td PLACES
                    td
                        button(class="btn waves-effect waves-light" type="button", onclick="reservation(1,1,1,1,1)") Submit
                            i(class="material-icons right") book

    script(src="javascripts/book/reservation.js", type="text/javascript")

                                    

        //-                 a(id="LogicLink" onclick="showTable();")
        //-                     i(class="material-icons") arrow_drop_down_circle
        //- table(id="tableTime" style="display:none")
        //-                     tr
        //-                         td Address

    //- script.
    //-     function showTable()
    //-     {
    //-         var elem=document.getElementById("tableTime");
    //-         var hide = elem.style.display =="none";
    //-         if (hide) {
    //-             elem.style.display="table";
    //-         } 
    //-         else {
    //-         elem.style.display="none";
    //-         }
    //-     }