extends layoutUser

block content

    div.container
        table(id="bookingsTable" class="responsive-table")
            tr
                th #{lang.getAllBookZone}
                th #{lang.getAllBookDetails}
                th Historical
            each x, index in zones
                tr
                    td= x.name
                    td
                        a(type="button", class="btn waves-effect waves-light", onclick=`reservationDetails(${x.id})`) #{lang.getAllBookDetails}
                    td
                        a(type="button", class="btn waves-effect waves-light", onclick=`reservationHistorical(${x.id})`) Historical
    
    script(src="/javascripts/bookings/getAllBookings.js", type="text/javascript")


        




