extends layoutUser

block content
    h1= "User xxxxxx's zones"

    table(id="zonesTable" class="responsive-table")
        tr
            th Name
            th Details
            th Edit
            th Delete
        each x, index in zones
            tr
                td= x.name
                td
                    a(type="button", class="btn waves-effect waves-light", onclick=`detailsZone(${JSON.stringify(x.id)})`) Details

                td
                    a(type="button", class="btn waves-effect waves-light", onclick=`modalEditZone(${JSON.stringify(x.name)}, ${JSON.stringify(x.id)})`) Edit
                td
                    a(class="btn waves-effect waves-light" onclick=`deleteZone(${JSON.stringify(x.id)})`) Delete

    //- Floating action button to create a user
    div(class="right-align float-align-right")
        a(class="btn-floating btn-large waves-effect waves-light" onclick="modalCreateZone()")
            i(class="material-icons") add

    //- Modal for the creation of a zone
    div(id="modalCreateZone" class="modal")
        div(class="modal-content")
            h4= "Create new zone"
            form(id="formCreateZone")
                div.row
                    div(class="input-field")
                        input(type="text",class="validate", id="name" required autocomplete="off" placeholder="Name")
        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" onclick=`createZone()`) Create


    //- Modal for the EDIT ZONE
    div(id="modalEditZone" class="modal")
        div(class="modal-content")
            h4= "Edit the zone"
            form(id="formEditZone")
                div.row
                    div(class="input-field")
                        input(type="text",class="validate", id="editName" required autocomplete="off" placeholder="Name")
                        input(id="id" type="hidden")
        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" onclick=`editZone()`) Create

    script(src="/javascripts/zone/getAllZones.js", type="text/javascript")


        




