extends layoutUser

block content
    h4(style="font-weight: bold") #{lang.allUsers}
    div.container
        table(id="usersTable" class="responsive-table")
            tr
                th #{lang.getAllUsersUN}
                th #{lang.getAllUsersMail}
                th #{lang.getAllUsersRole}
                th #{lang.zoneName}
                th #{lang.getAllUsersEdit}
                th #{lang.getAllUsersDel}
            each x, index in users
                tr
                    td= x.username
                    td= x.mail
                    td= x.roleName
                    if(x.zoneName != null)
                        td= x.zoneName
                    else
                        td -
                    td
                        a(type="button", class="btn waves-effect waves-light", onclick=`modalModifyUser(${JSON.stringify(x.username)}, ${JSON.stringify(x.mail)}, ${x.id})`) #{lang.getAllUsersEdit}
                    td
                        a(class="btn waves-effect waves-light" onclick=`deleteUser(${x.id})`) #{lang.getAllUsersDel}
    
    //- Modal for the modification of a user
    div(id="modalUpdateUser" class="modal")
        div(class="modal-content")
            h4= "Modify the user"
            form(id="formUpdateUser")
            p
                input(id="username", type="text")
                input(id="id" type="hidden")
            p
                input(id="email", type="email")
        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" onclick=`modifyUser()`) #{lang.getAllUsersSave}

    //- Modal for the creation of a user
    div(id="modalCreateUser" class="modal")
        div(class="modal-content")
            h4= "Create new user"
            form(id="formCreateUser")
                div(class="row")
                    div(class="input-field")
                        input(type="text", placeholder=`${lang.getAllUsersUN}`,class="validate", id="usernamee" required autocomplete="off")
                div(class="row")
                    div(class="input-field")
                        input(type="password",placeholder=`${lang.getAllUsersEnterPass}`,class="validate", id="passwordd" required, autocomplete="off")
                div(class="row")
                    div(class="input-field")
                        input(type="password",placeholder=`${lang.getAllUsersRepeatPass}`,class="validate", id="passwordd2" required, autocomplete="off")
                div(class="row")
                    div(class="input-field")
                        input(type="email", placeholder=`${lang.getAllUsersEnterMail}`,class="validate", id="emaill", required autocomplete="off")
                div.row
                    div.input-field-col-s12
                        select(id="selectRole", name="selectRole", onchange='loadZones()')
                            option(value="", disabled selected) #{lang.getAllUsersSelRole}
                div.row
                    div.input-field-col-s12
                        select(id="selectZone", name="selectZone", style="visibility: hidden")
                            option(value="", disabled selected) #{lang.getAllUsersSelZone}

        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" onclick=`createUser()`) #{lang.getAllUsersCreate}

    //- Floating action button to create a user
    div(class="right-align float-align-right")
        a(class="btn-floating btn-large waves-effect waves-light" onclick="modalCreateUser()")
            i(class="material-icons") add

    script(src="/javascripts/user/getAllUsers.js", type="text/javascript")

        
