extends layoutUser

block content
    h4(style="font-weight: bold") #{lang.allReservations}
    div.container
        table(id="bookingsTable" class="responsive-table")
            tr
                th #{lang.getAllBookZone}
                th #{lang.getAllBookDetails}
                th #{lang.bookingsHistory}
            each x, index in zones
                if(currentUser.ZoneId != null)
                    if(currentUser.ZoneId == x.id)
                        tr
                            td #{x.name}
                            td
                                a(type="button", class="btn waves-effect waves-light", onclick=`reservationDetails(${x.id})`) #{lang.getAllBookDetails}
                            td
                                a(type="button", class="btn waves-effect waves-light", onclick=`reservationHistorical(${x.id})`) #{lang.bookingsHistory}
                    else
                else
                    tr
                        td #{x.name}
                        td
                            a(type="button", class="btn waves-effect waves-light", onclick=`reservationDetails(${x.id})`) #{lang.getAllBookDetails}
                        td
                            a(type="button", class="btn waves-effect waves-light", onclick=`reservationHistorical(${x.id})`) #{lang.bookingsHistory}


                
    
    script(src="/javascripts/bookings/getAllBookings.js", type="text/javascript")