extends layoutUser

block content
    h4(style="font-weight: bold") #{zone.name}
    div.container
        table.responsive-table&attributes({'id': 'linesTable'})
                tr
                    th #{lang.getOneBookLine}
                    th #{lang.searchFromStation}
                    th #{lang.getOneBookAt}
                    if(currentUser.RoleId != 1)
                        th #{lang.getAllUsersDel}
                each x, index in lines
                    tr
                        td= x.id
                        td= x.departure
                        td= x.terminal
                        td
                            if(currentUser.RoleId != 1)
                                a(class="btn waves-effect waves-light" onclick=`deleteLine(${JSON.stringify(zone.id)}, ${JSON.stringify(x.id)})`) #{lang.getAllUsersDel}

    if(currentUser.RoleId != 1) 
        //- Floating action button to create a user
        div(class="right-align float-align-right")
            a(class="btn-floating btn-large waves-effect waves-light" onclick=`modalCreateLine(${JSON.stringify(zone.id)})`)
                i(class="material-icons") add

    //- Modal for the creation of lines
    div(id="modalCreateLine" class="modal")
        div(class="modal-content")
            h4= "Create new line"
            form(id="formCreateLine")
                div.row
                    div(class="input-field")
                        input(class="autocomplete", type="text",class="validate", id="departure" required autocomplete="off" placeholder=`${lang.getOneZoneStatDep}`)
                div.row
                    div(class="input-field")
                        input(class="autocomplete", type="text",class="validate", id="arrival" required autocomplete="off" placeholder=`${lang.getOneZoneStatArr}`)
                        input(id="id" type="hidden")

        div(class="modal-footer")
            a(class="waves-effect waves-green btn-flat" onclick=`createLines()`) #{lang.getAllUsersCreate}



    script(src="/javascripts/zone/getOneZone.js", type="text/javascript")



